<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <mat-card fxFlex="90%">
    <mat-card-title>Material Buttons</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Material Icons</h3>
            <h4>&lt;mat-icon&gt;</h4>
            <p>Icons are a neat way to add some live to only-text lists. Our theme comes with a great variety of icons from the official Material Icons font.</p>
            
          </div>
        </div>
        <div class="demo-tabs mat-elevation-z2" fxFlex>
          <mat-tab-group>
            <mat-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <mat-card fxFlex="80%" fxFlex.sm="90%">
                  <mat-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap">
                    <mat-icon>grade</mat-icon>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="HTML">
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div>
        <h2>List of all Material Icons</h2>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%" *ngFor="let icon of icons">
            <mat-icon>{{ icon }}</mat-icon>
            <span class="icon-name">{{ icon }}</span>
          </div>
        </div>
      </div>


    </mat-card-content>

  </mat-card>
</div>

