################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Monad.AB.Web.App/bin/Debug/netcoreapp1.1
