<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light green"
       routerLink="/projects/new">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between stretch">
      <div fxLayout="column" fxLayout.gt-md="row" fxFlex="100%" fxFlex.gt-sm>
        <md-card class="widget" *ngFor="let project of projects" fxFlex="100%" fxFlex.gt-sm>
          <md-card-title fxLayout="row" fxLayoutAlign="center center">
            <span class="name">{{ project.name }}</span>
            <span fxFlex></span>
            <button md-icon-button (click)="viewProject(project.id);"><md-icon [class.green]="true">arrow_right</md-icon></button>
          </md-card-title>
          <md-card-subtitle>
            <span class="description">{{ project.description }}</span>
          </md-card-subtitle>
        </md-card>
      </div>
    </div>
  </div>
</div>

