<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Project.View'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">View Project</mat-toolbar>
    <mat-card-content>
      <form>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="name"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="project.name" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="title"
                   placeholder="Title"
                   readonly="readonly"
                   [(ngModel)]="project.title" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="rootNamespace"
                   placeholder="RootNamespace"
                   readonly="readonly"
                   [(ngModel)]="project.rootNamespace" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="companyName"
                   placeholder="CompanyName"
                   readonly="readonly"
                   [(ngModel)]="project.companyName" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="description"
                   placeholder="Description"
                   readonly="readonly"
                   [(ngModel)]="project.description" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="primary" disabled="disabled" type="button">
            Build
          </button>
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="deleteProject(project.id);" *msElementAccess="'Project.Delete'">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editProject(project.id);" *msElementAccess="'Project.Edit'">
            Edit
          </button>
          <button md-raised-button color="primary" disabled="disabled" style="margin-left: 8px;" type="button">
            Build Status
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'Form.Add'">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="addForm(project.id);" >
            Add Form
          </button>
        </div>
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'Form.List'">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Title</th>
                <th hidden="hidden">Dependency</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of forms">
                <td>{{ form.name }}</td>
                <td>{{ form.title }}</td>
                <td hidden="hidden">{{ form.dependencyID }}</td>
                <td>
                  <button mat-icon-button (click)="viewForm(project.id,form.id);" style="margin-left: 1px;" *msElementAccess="'Form.View'"><mat-icon>pageview</mat-icon></button>
                  <button mat-icon-button (click)="editForm(project.id,form.id);" style="margin-left: 1px;" *msElementAccess="'Form.Edit'"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteForm(project.id,form.id);" style="margin-left: 1px;" *msElementAccess="'Form.Delete'"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
