<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'FormField.Edit'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">Edit Form Field</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="formGroup" novalidate (ngSubmit)="saveForm(formGroup.value)">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="name"
                   placeholder="Name"
                   required
                   [(ngModel)]="formField.name"
                   formControlName="name"
                   [class.invalid]="formGroup.controls['name'].touched && !formGroup.controls['name'].valid" />
            <mat-hint [hidden]="formGroup.controls['name'].pristine || formGroup.controls['name'].valid">
              <span [hidden]="!formGroup.controls['name'].errors?.required">Field Name is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="label"
                   placeholder="Label"
                   [(ngModel)]="formField.label"
                   formControlName="label" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="description"
                   placeholder="Description"
                   [(ngModel)]="formField.description"
                   formControlName="description" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-select [(ngModel)]="formField.fieldTypeID" placeholder="Field Type" formControlName="fieldTypeID">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.id">
              {{fieldType.name}}
            </mat-option>
          </mat-select>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="width"
                   placeholder="Width"
                   [(ngModel)]="formField.width"
                   formControlName="width" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="rowNumber"
                   placeholder="Row Number"
                   required
                   [(ngModel)]="formField.rowNumber"
                   formControlName="rowNumber"
                   [class.invalid]="formGroup.controls['rowNumber'].touched && !formGroup.controls['rowNumber'].valid" />
            <mat-hint [hidden]="formGroup.controls['rowNumber'].pristine || formGroup.controls['rowNumber'].valid">
              <span [hidden]="!formGroup.controls['rowNumber'].errors?.required">Row Number is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="rowSpan"
                   placeholder="Rowspan"
                   required
                   [(ngModel)]="formField.rowSpan"
                   formControlName="rowSpan"
                   [class.invalid]="formGroup.controls['rowSpan'].touched && !formGroup.controls['rowSpan'].valid" />
            <mat-hint [hidden]="formGroup.controls['rowSpan'].pristine || formGroup.controls['rowSpan'].valid">
              <span [hidden]="!formGroup.controls['rowSpan'].errors?.required">Row span is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="columnNumber"
                   placeholder="Column Number"
                   required
                   [(ngModel)]="formField.columnNumber"
                   formControlName="columnNumber"
                   [class.invalid]="formGroup.controls['columnNumber'].touched && !formGroup.controls['columnNumber'].valid" />
            <mat-hint [hidden]="formGroup.controls['columnNumber'].pristine || formGroup.controls['columnNumber'].valid">
              <span [hidden]="!formGroup.controls['columnNumber'].errors?.required">Column Number is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="columnSpan"
                   placeholder="Column Span"
                   required
                   [(ngModel)]="formField.columnSpan"
                   formControlName="columnSpan"
                   [class.invalid]="formGroup.controls['columnSpan'].touched && !formGroup.controls['columnSpan'].valid" />
            <mat-hint [hidden]="formGroup.controls['columnSpan'].pristine || formGroup.controls['columnSpan'].valid">
              <span [hidden]="!formGroup.controls['columnSpan'].errors?.required">Column Span is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-slide-toggle name="isRequired" [(ngModel)]="formField.isRequired" formControlName="isRequired" color="primary">
            Is Required
          </mat-slide-toggle>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button md-raised-button
                    type="button" (click)="cancelChanges($event);">
              Cancel
            </button>
            <button md-button color="primary"
                    md-raised-button
                    style="margin-left: 8px;"
                    type="submit"
                    [disabled]="!formGroup.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
