<div fxLayout="column" fxLayout.gt-md="row">
  <md-card style="padding: 16px;" fxFlex="90%">
    <md-toolbar color="primary">View Form Field</md-toolbar>
    <md-card-content>
      <form>
        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="name"
                   placeholder="Name"
                   [disabled]="true"
                   [(ngModel)]="formField.name" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="label"
                   placeholder="Label"
                   [disabled]="true"
                   [(ngModel)]="formField.label" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="description"
                   placeholder="Description"
                   [disabled]="true"
                   [(ngModel)]="formField.description" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="width"
                   placeholder="Width"
                   [disabled]="true"
                   [(ngModel)]="formField.width" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="rowNumber"
                   placeholder="Row Number"
                   [disabled]="true"
                   [(ngModel)]="formField.rowNumber" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="rowSpan"
                   placeholder="Row span"
                   [disabled]="true"
                   [(ngModel)]="formField.rowSpan" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="columnNumber"
                   placeholder="Column Number"
                   [disabled]="true"
                   [(ngModel)]="formField.columnNumber" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container fxFlex="50">
            <input mdInput
                   name="columnSpan"
                   placeholder="Column Span"
                   [disabled]="true"
                   [(ngModel)]="formField.columnSpan" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-checkbox name="isRequired"
                       [disabled]="true"
                       [(ngModel)]="formField.isRequired"
                       color="primary">
            Is Required
          </md-checkbox>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editFormField(projectId,formField.formID,formField.id);">
            Edit
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>View Name</th>
                <th>Row</th>
                <th>Row Span</th>
                <th>Column</th>
                <th>Column Span</th>
                <th>Read Only</th>
                <th>Hidden</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formFieldView of formFieldViews">
                <td>{{ formFieldView.viewID }}</td>
                <td>{{ formFieldView.row }}</td>
                <td>{{ formFieldView.rowSpan }}</td>
                <td>{{ formFieldView.column }}</td>
                <td>{{ formFieldView.columnSpan }}</td>
                <td><button md-icon-button> <md-icon>{{ formFieldView.readOnly?"check":"close"}}</md-icon></button></td>
                <td><button md-icon-button> <md-icon>{{ formFieldView.hidden?"check":"close"}}</md-icon></button></td>
                <td>
                  <button md-icon-button (click)="editFormFieldView(this.projectId,formField.formID,formField.id, formFieldView.id);" style="margin-left: 1px;"><md-icon>edit</md-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
