<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'FormField.View'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">View Form Field</mat-toolbar>
    <mat-card-content>
      <form>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="name"
                   placeholder="Name"
                   [disabled]="true"
                   [(ngModel)]="formField.name" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="label"
                   placeholder="Label"
                   [disabled]="true"
                   [(ngModel)]="formField.label" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="description"
                   placeholder="Description"
                   [disabled]="true"
                   [(ngModel)]="formField.description" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-select [(ngModel)]="formField.fieldTypeID" placeholder="Field Type" name="fieldTypeID"  [disabled]="true">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.id">
              {{fieldType.name}}
            </mat-option>
          </mat-select>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="width"
                   placeholder="Width"
                   [disabled]="true"
                   [(ngModel)]="formField.width" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="rowNumber"
                   placeholder="Row Number"
                   [disabled]="true"
                   [(ngModel)]="formField.rowNumber" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="rowSpan"
                   placeholder="Row span"
                   [disabled]="true"
                   [(ngModel)]="formField.rowSpan" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="columnNumber"
                   placeholder="Column Number"
                   [disabled]="true"
                   [(ngModel)]="formField.columnNumber" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="columnSpan"
                   placeholder="Column Span"
                   [disabled]="true"
                   [(ngModel)]="formField.columnSpan" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-checkbox name="isRequired"
                       [disabled]="true"
                       [(ngModel)]="formField.isRequired"
                       color="primary">
            Is Required
          </mat-checkbox>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="deleteFormField(projectId,formField.formID,formField.id)" *msElementAccess="'FormField.Delete'">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editFormField(projectId,formField.formID,formField.id);" *msElementAccess="'FormField.Edit'">
            Edit
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>View Name</th>
                <th>Row</th>
                <th>Row Span</th>
                <th>Column</th>
                <th>Column Span</th>
                <th>Read Only</th>
                <th>Hidden</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formFieldView of formFieldViews">
                <td>{{ formFieldView.view.name }}</td>
                <td>{{ formFieldView.row }}</td>
                <td>{{ formFieldView.rowSpan }}</td>
                <td>{{ formFieldView.column }}</td>
                <td>{{ formFieldView.columnSpan }}</td>
                <td><button mat-icon-button> <mat-icon>{{ formFieldView.readOnly?"check":"close"}}</mat-icon></button></td>
                <td><button mat-icon-button> <mat-icon>{{ formFieldView.hidden?"check":"close"}}</mat-icon></button></td>
                <td>
                  <button mat-icon-button (click)="editFormFieldView(this.projectId,formField.formID,formField.id, formFieldView.id);" style="margin-left: 1px;"><mat-icon>edit</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
