<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Role.Edit'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">Edit Role</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="formGroup" novalidate (ngSubmit)="saveRole(formGroup.value)">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="name"
                   placeholder="Name"
                   required
                   [(ngModel)]="role.name"
                   formControlName="name"
                   [class.invalid]="formGroup.controls['name'].touched && !formGroup.controls['name'].valid" />
            <mat-hint [hidden]="formGroup.controls['name'].pristine || formGroup.controls['name'].valid">
              <span [hidden]="!formGroup.controls['name'].errors?.required">Field Name is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="description"
                   placeholder="Description"
                   [(ngModel)]="role.description"
                   formControlName="description" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-slide-toggle name="isActive" [(ngModel)]="role.isActive" formControlName="isActive" color="primary">
            Is Active
          </mat-slide-toggle>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button md-raised-button
                    type="button" (click)="cancelChanges($event);">
              Cancel
            </button>
            <button md-button color="primary"
                    md-raised-button
                    style="margin-left: 8px;"
                    type="submit"
                    [disabled]="!formGroup.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
