<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" align="end" *msElementAccess="'Role.Add'">
  <button mdTooltip="New Project" md-fab color="primary" (click)="addRole();">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Role.List'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-card-content>
      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Is Active</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles">
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td><button mat-icon-button> <mat-icon>{{ role.isActive?"check":"close"}}</mat-icon></button></td>
                <td>
                  <button mat-icon-button (click)="viewRole(role.roleId);" style="margin-left: 1px;" *msElementAccess="'Role.View'"><mat-icon>pageview</mat-icon></button>
                  <button mat-icon-button (click)="editRole(role.roleId);" style="margin-left: 1px;" *msElementAccess="'Role.Edit'"><mat-icon>edit</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
