<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Role.View'">
  <md-card style="padding: 16px;" fxFlex="90%">
    <md-toolbar color="primary">View Role</md-toolbar>
    <md-card-content>
      <form>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="name"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="role.name" />
          </md-input-container>
        </div>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="Description"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="role.description" />
          </md-input-container>
        </div>
        <md-checkbox name="isActive"
                     [disabled]="true"
                     [(ngModel)]="role.isActive"
                     color="primary">
          Is Active
        </md-checkbox>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="saveChanges(role.roleId);" *msElementAccess="'Role.Edit'">
            SaveChanges
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">

        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'Form.List'">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Resource</th>
                <th>View</th>
                <th>List</th>
                <th>Add</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rolePermission of rolePermissions">
                <td>{{ rolePermission.resourceName }}</td>
                <td><md-checkbox [(ngModel)]="rolePermission.isView" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="rolePermission.isList" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="rolePermission.isAdd" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="rolePermission.isEdit" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="rolePermission.isDelete" color="primary"></md-checkbox></td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
