<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Role.View'">
  <md-card style="padding: 16px;" fxFlex="90%">
    <md-toolbar color="primary">View Role</md-toolbar>
    <md-card-content>
      <form>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="name"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="role.name" />
          </md-input-container>
        </div>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="Description"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="role.description" />
          </md-input-container>
        </div>
        <md-checkbox name="isActive"
                     [disabled]="true"
                     [(ngModel)]="role.isActive"
                     color="primary">
          Is Active
        </md-checkbox>
       
        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="deleteRole(role.roleId)" *msElementAccess="'Role.Delete'">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editRole(role.roleId);" *msElementAccess="'Role.Edit'">
            Edit
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
     
      </form>
    </md-card-content>
  </md-card>
</div>
