<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">
    <div fxFlex class="table-container mat-elevation-z2">
      <div class="table-header" fxLayout="row" [class.table-condensed]="tableCondensed">
        <div [style.width.px]="cellWidths[0]" fxLayout="row" fxLayoutAlign="start center">
          <span class="name">Name</span>
        </div>
        <div [style.width.px]="cellWidths[1]" fxLayout="row" fxLayoutAlign="start center">
          <span class="name">Title</span>
        </div>
        <div [style.width.px]="cellWidths[2]" fxLayout="row" fxLayoutAlign="start center">
          <span class="name">Description</span>
        </div>
        <div [style.width.px]="cellWidths[3]" fxLayout="row" fxLayoutAlign="start center">
          <span class="name">RootNamespace</span>
        </div>
        <div [style.width.px]="cellWidths[4]" fxLayout="row" fxLayoutAlign="start center">
          <span class="name">CompanyName</span>
        </div>
        <div [style.width.px]="cellWidths[5]"></div>
        <div [style.width.px]="cellWidths[6]"></div>
        <div [style.width.px]="cellWidths[7]"></div>
      </div>

      <div class="table-content">
        <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
          <tbody #tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.name }}</td>
              <td>{{ project.title }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.rootNamespace }}</td>
              <td>{{ project.companyName }}</td>            

              <td><button md-icon-button (click)="viewProject(project.id);"><md-icon>pageview</md-icon></button></td>
              <td><button md-icon-button (click)="editProject(project.id);"><md-icon>edit</md-icon></button></td>
              <td><button md-icon-button (click)="deleteProject(project.id);"><md-icon>delete</md-icon></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

