<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Form.Edit'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">Edit Form</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="formGroup" novalidate (ngSubmit)="saveForm(formGroup.value)">
        <div fxLayout column>
          <mat-form-field fxFlex="50">
            <input matInput
                   name="formName"
                   placeholder="Name"
                   required
                   [(ngModel)]="form.formName"
                   formControlName="formName"
                   [class.invalid]="formGroup.controls['formName'].touched && !formGroup.controls['formName'].valid" />
            <mat-hint [hidden]="formGroup.controls['formName'].pristine || formGroup.controls['formName'].valid">
              <span [hidden]="!formGroup.controls['formName'].errors?.required">Form Name is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="formTitle"
                   required
                   placeholder="Title"
                   [(ngModel)]="form.formTitle"
                   formControlName="formTitle"
                   [class.invalid]="formGroup.controls['formTitle'].touched && !formGroup.controls['formTitle'].valid" />
            <mat-hint [hidden]="formGroup.controls['formTitle'].pristine || formGroup.controls['formTitle'].valid">
              <span [hidden]="!formGroup.controls['formTitle'].errors?.required">Form Title is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-select [(ngModel)]="form.dependencyID" placeholder="Dependency" formControlName="dependencyID">
            <mat-option *ngFor="let currentForm of forms" [value]="currentForm.id">
              {{currentForm.title}}
            </mat-option>
          </mat-select>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="formDescription"
                   placeholder="Description"
                   [(ngModel)]="form.formDescription"
                   formControlName="formDescription" />
          </mat-form-field>
        </div>

        <div fxLayout="column" *ngIf="serverErrorMessage">
          <div fxLayout="row" fxLayoutAlign="end center">
            <label class="control-label">
              {{ serverErrorMessage}}
            </label>
          </div>
        </div>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button md-raised-button
                    type="button" (click)="cancelChanges($event);">
              Cancel
            </button>
            <button md-button color="primary"
                    md-raised-button
                    style="margin-left: 8px;"
                    type="submit"
                    [disabled]="!formGroup.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
