<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'Form.View'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">View Form</mat-toolbar>
    <mat-card-content>
      <form>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="formName"
                   placeholder="Name"
                   readonly="readonly"
                   [(ngModel)]="form.formName" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="formTitle"
                   placeholder="Title"
                   readonly="readonly"
                   [(ngModel)]="form.formTitle" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-select [(ngModel)]="form.dependencyID" placeholder="Dependency" name="dependencyID" [disabled]="true">
            <mat-option *ngFor="let currentForm of forms" [value]="currentForm.id">
              {{currentForm.title}}
            </mat-option>
          </mat-select>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput
                   name="formDescription"
                   placeholder="Description"
                   [disabled]="true"
                   [(ngModel)]="form.formDescription" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="deleteForm(form.projectID,form.id);" *msElementAccess="'Form.Delete'">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editForm(form.projectID,form.id);" *msElementAccess="'Form.Edit'">
            Edit
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'FormField.Add'">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="addFormField(form.projectID, form.id);">
            Add Form Field
          </button>
        </div>
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'FormField.List'">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Is Required</th>
                <th>Modified by</th>
                <th>Modified date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formField of formFields">
                <td>{{ formField.name }}</td>
                <td><button mat-icon-button> <mat-icon>{{ formField.isRequired?"check":"close"}}</mat-icon></button></td>

                <td>{{ formField.lastModifiedBy }}</td>
                <td>{{ formField.lastModifiedDateUtc |date }}</td>

                <td hidden="hidden">{{ form.dependencyID }}</td>
                <td>
                  <button mat-icon-button (click)="viewFormField(form.projectID,form.id,formField.id);" style="margin-left: 1px;" *msElementAccess="'FormField.View'"><mat-icon>pageview</mat-icon></button>
                  <button mat-icon-button (click)="editFormField(form.projectID,form.id,formField.id);" style="margin-left: 1px;" *msElementAccess="'FormField.Edit'"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteFormField(form.projectID,form.id,formField.id);" style="margin-left: 1px;" *msElementAccess="'FormField.Delete'"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
