<div fxLayout="column" fxLayout.gt-md="row">
  <md-card style="padding: 16px;" fxFlex="90%">
    <md-toolbar color="primary">View Form</md-toolbar>
    <md-card-content>
      <form>
        <div fxLayout fxLayoutWrap>
          <md-input-container fxFlex="50">
            <input mdInput
                   name="formName"
                   [disabled]="true"
                   [(ngModel)]="form.formName" />
          </md-input-container>
        </div>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="formTitle"
                   [disabled]="true"
                   [(ngModel)]="form.formTitle" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="formDescription"
                   [disabled]="true"
                   [(ngModel)]="form.formDescription" />
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <input mdInput
                   name="dependencyID"
                   placeholder="Dependency"
                   [(ngModel)]="form.dependencyID"
                   formControlName="dependencyID" />
          </md-input-container>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="warn" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Delete
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editForm(form.projectID,form.id);">
            Edit
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
        </div>
      </form>
      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="addForm(project.id);">
            Add Form
          </button>
        </div>
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Title</th>
                <th hidden="hidden">Dependency</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let form of forms">
                <td>{{ form.name }}</td>
                <td>{{ form.title }}</td>
                <td hidden="hidden">{{ form.dependencyID }}</td>
                <td>
                  <button md-icon-button (click)="viewForm(project.id,form.id);" style="margin-left: 1px;"><md-icon>pageview</md-icon></button>
                  <button md-icon-button (click)="editForm(project.id,form.id);" style="margin-left: 1px;"><md-icon>edit</md-icon></button>
                  <button md-icon-button (click)="deleteForm(project.id,form.id);" style="margin-left: 1px;"><md-icon>delete</md-icon></button>
                </td>
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>