<div fxLayout="column" fxLayout.gt-md="row">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">Edit User Profile</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="formGroup" novalidate (ngSubmit)="saveUser(formGroup.value)">
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="userName"
                   placeholder="UserName"
                   readonly ="readonly"                   
                   formControlName="userName"
                   [(ngModel)]="user.userName" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="firstName"
                   placeholder="First Name"
                   required
                   [(ngModel)]="user.firstName"
                   formControlName="firstName"
                   [class.invalid]="formGroup.controls['firstName'].touched && !formGroup.controls['firstName'].valid" />
            <mat-hint [hidden]="formGroup.controls['firstName'].pristine || formGroup.controls['firstName'].valid">
              <span [hidden]="!formGroup.controls['firstName'].errors?.required">First Name is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="lastName"
                   placeholder="Last Name"
                   required
                   [(ngModel)]="user.lastName"
                   formControlName="lastName"
                   [class.invalid]="formGroup.controls['lastName'].touched && !formGroup.controls['lastName'].valid" />
            <mat-hint [hidden]="formGroup.controls['lastName'].pristine || formGroup.controls['lastName'].valid">
              <span [hidden]="!formGroup.controls['lastName'].errors?.required">Last Name is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="emailAddress"
                   placeholder="Email Address"
                   required
                   [(ngModel)]="user.emailAddress"
                   formControlName="emailAddress"
                   [class.invalid]="formGroup.controls['emailAddress'].touched && !formGroup.controls['emailAddress'].valid" />
            <mat-hint [hidden]="formGroup.controls['emailAddress'].pristine || formGroup.controls['emailAddress'].valid">
              <span [hidden]="!formGroup.controls['emailAddress'].errors?.required">Email is required.</span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="designation"
                   placeholder="Designation"
                   [(ngModel)]="user.designation"
                   formControlName="designation" />
          </mat-form-field>
        </div>


        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="addressLine1"
                   placeholder="Address Line 1"
                   [(ngModel)]="user.addressLine1"
                   formControlName="addressLine1" />
          </mat-form-field>
        </div>



        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="addressLine2"
                   placeholder="Address Line 2"
                   [(ngModel)]="user.addressLine2"
                   formControlName="addressLine2" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="zip"
                   placeholder="Zip"
                   [(ngModel)]="user.zip"
                   formControlName="zip" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="city"
                   placeholder="City"
                   [(ngModel)]="user.city"
                   formControlName="city" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="state"
                   placeholder="State"
                   [(ngModel)]="user.state"
                   formControlName="state" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
          <button md-button color="primary"
                  md-raised-button
                  style="margin-left: 8px;"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Save
          </button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>