<div fxLayout="column" fxLayout.gt-md="row">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">View User Profile</mat-toolbar>
    <mat-card-content>
      <form>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="userName"
                   placeholder="UserName"
                   readonly="readonly"
                   [(ngModel)]="user.userName" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="firstName"
                   placeholder="First Name"
                   readonly="readonly"
                   [(ngModel)]="user.firstName" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="lastName"
                   placeholder="Last Name"
                   readonly="readonly"
                   [(ngModel)]="user.lastName" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="emailAddress"
                   placeholder="Email Address"
                   readonly="readonly"
                   [(ngModel)]="user.emailAddress" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="designation"
                   placeholder="Designation"
                   readonly="readonly"
                   [(ngModel)]="user.designation" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="addressLine1"
                   placeholder="Address Line 1"
                   readonly="readonly"
                   [(ngModel)]="user.addressLine1" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="addressLine2"
                   placeholder="Address Line 2"
                   readonly="readonly"
                   [(ngModel)]="user.addressLine2" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="zip"
                   placeholder="Zip"
                   readonly="readonly"
                   [(ngModel)]="user.zip" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="city"
                   placeholder="City"
                   readonly="readonly"
                   [(ngModel)]="user.city" />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field fxFlex="50">
            <input matInput
                   name="state"
                   placeholder="State"
                   readonly="readonly"
                   [(ngModel)]="user.state" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="cancelChanges($event);">
            Go Back
          </button>
          <button md-raised-button color="primary" style="margin-left: 8px;" type="button" (click)="editUserProfile();">
            Edit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>