<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'User.Edit'">
  <md-card style="padding: 16px;" fxFlex="90%">
    <md-toolbar color="primary">Edit user</md-toolbar>
    <md-card-content>
      <form [formGroup]="userForm" novalidate (ngSubmit)="saveUser(userForm.value)">
        <div fxLayout="column">

          <md-input-container>
            <input mdInput name="userName" placeholder="User Name" required [(ngModel)]="user.userName" formControlName="userName" [class.invalid]="userForm.controls['userName'].touched && !userForm.controls['userName'].valid"
            readonly="true" />
           
          </md-input-container>

        </div>
        <div fxLayout="column">

          <md-input-container>
            <input mdInput name="email" placeholder="email" required [(ngModel)]="user.email" formControlName="email" [class.invalid]="userForm.controls['email'].touched && !userForm.controls['email'].valid"
            readonly="true"/>
           
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <input mdInput name="firstName" placeholder="First Name" required [(ngModel)]="user.firstName" formControlName="firstName"
              [class.invalid]="userForm.controls['firstName'].touched && !userForm.controls['firstName'].valid" />
            <md-hint [hidden]="userForm.controls['firstName'].pristine || userForm.controls['firstName'].valid">
              <span [hidden]="!userForm.controls['firstName'].errors?.required">First Name is required.</span>
            </md-hint>
          </md-input-container>
        </div>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput name="lastName" placeholder="Last Name" required [(ngModel)]="user.lastName" formControlName="lastName" [class.invalid]="userForm.controls['lastName'].touched && !userForm.controls['lastName'].valid"
            />
            <md-hint [hidden]="userForm.controls['lastName'].pristine || userForm.controls['lastName'].valid">
              <span [hidden]="!userForm.controls['lastName'].errors?.required">First Name is required.</span>
            </md-hint>
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <input mdInput name="addressLine1" placeholder="Address Line1" required [(ngModel)]="user.addressLine1" formControlName="addressLine1"
              [class.invalid]="userForm.controls['addressLine1'].touched && !userForm.controls['addressLine1'].valid" />
            <md-hint [hidden]="userForm.controls['addressLine1'].pristine || userForm.controls['addressLine1'].valid">
              <span [hidden]="!userForm.controls['addressLine1'].errors?.required">Address Line 1 is required.</span>
            </md-hint>
          </md-input-container>
        </div>

        <div fxLayout="column">
          <md-select [(ngModel)]="user.roleId" placeholder="Role Name" formControlName="roleId">
            <md-option *ngFor="let role of roles" [value]="role.roleId">
              {{role.name}}
            </md-option>
          </md-select>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button md-raised-button type="button" (click)="cancelChanges($event);">
              Cancel
            </button>
            <button md-button color="primary" md-raised-button style="margin-left: 8px;" type="submit" [disabled]="!userForm.valid">
              Save
            </button>
          </div>
        </div>
      </form>

       <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">

        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center" *msElementAccess="'Form.List'">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>Resource</th>
                <th>View</th>
                <th>List</th>
                <th>Add</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userClaim of userClaims">
                <td>{{ userClaim.resourceName }}</td>
                <td><md-checkbox [(ngModel)]="userClaim.isView" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="userClaim.isList" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="userClaim.isAdd" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="userClaim.isEdit" color="primary"></md-checkbox></td>
                <td><md-checkbox [(ngModel)]="userClaim.isDelete" color="primary"></md-checkbox></td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>