<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="forgot mat-elevation-z12">
    <div class="forgot-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <form #form="ngForm" (ngSubmit)="forgotPassword()">
      <div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container>
          <input mdInput placeholder="User Name" type="text" name="userName" required [(ngModel)]="userName">
        </md-input-container>
        <button color="primary" md-raised-button [disabled]="!form.valid">Get Password</button>
        <p class="note"><a [routerLink]="['/login']">Back to login</a></p>
      </div>
    </form>
  </div>
</div>
