<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" align="end" *msElementAccess="'User.Add'">
  <button mdTooltip="New Project" md-fab color="primary" (click)="addUser();">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'User.List'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-card-content>
      <div fxLayout="row" fxLayout.gt-md="column" style="margin-top: 20px;">
        <div fxLayout="row" class="table-container mat-elevation-z2" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.userName }}</td>
                <td>{{ user.email }}</td>
                <!--<td><button mat-icon-button> <mat-icon>{{ role.isActive?"check":"close"}}</mat-icon></button></td>-->
                <td>
                  <button mat-icon-button (click)="viewUser(user.id);" style="margin-left: 1px;" *msElementAccess="'User.View'"><mat-icon>pageview</mat-icon></button>
                  <button mat-icon-button (click)="editUser(user.id);" style="margin-left: 1px;" *msElementAccess="'User.Edit'"><mat-icon>edit</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
