<div fxLayout="column" fxLayout.gt-md="row" *msElementAccess="'User.Edit'">
  <mat-card style="padding: 16px;" fxFlex="90%">
    <mat-toolbar color="primary">Edit user</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="userForm" novalidate (ngSubmit)="saveUser(userForm.value)">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput name="userName" placeholder="User Name" required [(ngModel)]="user.userName" formControlName="userName" readonly="true"
            />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput name="email" placeholder="email" required [(ngModel)]="user.email" formControlName="email" readonly="true"
            />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput name="firstName" placeholder="First Name" required [(ngModel)]="user.firstName" formControlName="firstName"
              readonly="true" />

          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput name="lastName" placeholder="Last Name" required [(ngModel)]="user.lastName" formControlName="lastName" readonly="true"
            />
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput name="addressLine1" placeholder="Address Line1" required [(ngModel)]="user.addressLine1" formControlName="addressLine1"
              readonly="true" />
          </mat-form-field>
        </div>


        <div fxLayout="column">
          <mat-select [(ngModel)]="user.roleId" placeholder="Role Name" formControlName="roleId" [disabled]="true">
            <mat-option *ngFor="let role of roles" [value]="role.roleId">
              {{role.name}}
            </mat-option>
          </mat-select>
        </div>


        <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end center">
          <button md-raised-button type="button" (click)="editUser(user.id);" color="primary" style="margin-left: 8px;">
              Edit
            </button>
          <button md-raised-button type="button" (click)="cancelChanges($event);" color="primary" style="margin-left: 8px;">
              Go Back
            </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>